@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$custom-primary: #501f3a;
$custom-secondary: #cb2d6f;
$custom-light: #f6f0df;
$custom-dark: #0f292f;

*,
*::after,
*::before {
  font-family: 'Gentium Book Basic', serif!important;
  list-style: none;
  color: $custom-primary;
}

a {
  text-decoration: none;
  color: $custom-dark;

  &:hover {
    color: $custom-secondary;
  }
}

body {
  background: linear-gradient(to right, $custom-primary, $custom-secondary);
}

header {
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: auto;  
  }

  h1,
  h3 {
    color: $custom-light;
    text-transform: uppercase;
  }

  h1 {
    margin-bottom: -.3em;
    font-size: clamp(2.8rem, 8vw, 7rem);
  }
  h3 {
    font-size: clamp(1rem, 3vw, 2rem);
  }
}

.display-box {
  width: 100%;
}

.scroll-box {
  overflow-y: auto;
  height: 500px;
  padding: 1rem;
  font-size: 1.4rem;
}

.card-body {
  font-size: 1.2rem;
}

.fa-github {
  background-color: $custom-primary;
}

.btn-custom {
  background-color: $custom-secondary;
  color: $custom-light;
}

.card-header {
  padding: 1rem 0 1rem 1.5rem;
}

mark {
  background-color: #f1b9d0;
}

@media screen and (min-width: 768px) {
  .sidebar {
    margin-top: 10.6rem;
  }
}